.DS_Store
*.avi
*.bak
*.mov
*.mp3
*.mp4
*.oga
*.ogg
*.ogv
*.sqlite
*.swp
*.wav
*.webm
*~
/dist/
/local.json
/node_modules/
/published/
bower_components/
locale/
!locale/en_US/*
!locale/localeinfo.json
public/external/popcorn-js.BACKUP.7165/
public/src/embed-built.js