<div class="butter-editor share-editor allow-scrollbar">
  <h1>{{ gettext("Chapter your project") }}</h1>
  <div class="error-message-container">
    <div class="error-message"></div>
  </div>
  <div class="butter-editor-body scrollbar-container">
    <div class="scrollbar-outer">
      <div class="container editor-container scrollbar-inner chapter-editor-container">
        <a class="butter-btn btn-light butter-create-table-link" target="_blank"><span class="icon icon-plus"></span> {{ gettext("Create Table of Contents") }}</a>
        <!--a class="butter-btn btn-light butter-render-link btn-green" target="_blank"><span class="icon icon-white icon-eye-open"></span>{{ gettext("Activate") }}</a-->

        <!--div class="dd" id="toc-div-draggable">
            <ol class="dd-list">
                <li class="dd-item dd3-item">
                    <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Drag a new entry</div>
                </li>
            </ol>
        </div-->

        <div class="dd" id="toc-div">
          <ol class="dd-list" id="toc-ol">
          </ol>
        </div>

        <a class="butter-btn btn-light butter-remove-table-link"><span class="mg-delete-btn icon icon-trash"></span> {{ gettext("Remove Table of Contents") }}</a>
        <!-- class="butter-btn btn-light butter-duplicate-toc-link butter-btn-menu-control"><span class="icon icon-plus"></span>Duplicate toc event</a-->
        
        <!--div class="dd" id="toc-div">
            <ol class="dd-list">
                <li class="dd-item dd3-item" data-id="13">
                    <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 13</div>
                </li>
                <li class="dd-item dd3-item" data-id="14">
                    <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 14</div>
                </li>
                <li class="dd-item dd3-item" data-id="15">
                    <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 15</div>
                    <ol class="dd-list">
                        <li class="dd-item dd3-item" data-id="16">
                            <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 16</div>
                        </li>
                        <li class="dd-item dd3-item" data-id="17">
                            <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 17</div>
                        </li>
                        <li class="dd-item dd3-item" data-id="18">
                            <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 18</div>
                        </li>
                    </ol>
                </li>
            </ol>
        </div-->


      </div>
    </div>
  </div>
</div>

<!-- This is added to table of contents for each new item -->
<li class="toc-item dd-item dd3-item">
    <div class="toc-item-handle dd-handle dd3-handle" title="{{ gettext("Add a sub-chapter") }}"></div>
    <div class="toc-item-create dd-create dd3-create" title="{{ gettext("Add a next chapter") }}"></div>
    <div class="toc-item-content dd3-content" contenteditable="true"></div>
    <div class="toc-item-time toc-item-time-start">
      <input type="text" value="0:00" disabled="disabled">
    </div>
    <!--div class="toc-item-time toc-item-time-end">
      <input type="text" value="0:00" disabled="disabled">
    </div-->
    <div class="toc-item-delete dd-delete dd3-delete"></div>
</li>